body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-image { 
    background-image: url('Puppy.kitten1.jpg'); 
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */  filter: grayscale(100%);
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 35vh;
}

#info, #info2 {
    padding: 2rem;
    margin: auto;
    border: .1rem;
    width: 100%;
    background-size: cover;
    text-align: center;
}

#videoCat {
    display: block; 
    margin: 0 auto;
}

#videoDog {
    display: block; 
    margin: 0 auto;
}

.kitty-page-bg {
    background-image: url('cat.jpg');
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */  filter: grayscale(100%);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35vh;
}

.puppy-page-bg {
    background-image: url('puppy1.jpeg');
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */  filter: grayscale(100%);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 35vh;
}

.intro {
    padding: 2rem;
    margin: auto;
    border: .1rem;
    width: 100%;
    background-size: cover;
    text-align: center;
    font-size: 1rem;
}

#salon {
    border: .1rem solid black;
    padding: 6rem;
    margin: auto;
    width: 50rem;
    height: 50rem;
}

#heading {
    font-size: 4rem;
}

.classWithPad { 
    margin: 1.5rem; 
    padding: 1.5rem; 
}

.enquiryForm {
    border: .5rem black solid;
    text-align: center;
    width: 70rem;
    color: black;
    min-height: 8rem;
    overflow: hidden;
}

.col-md-6 {
    margin-bottom: 40px; /* Add spacing between video and container */
}

.cats {
    width: 100%;
    height: auto;
}

    a:hover {
        background-color: black;
    }

    button:hover {
        background-color: black;
    }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        #salon {
        border: .1rem solid black;
        width: 13rem;
        height: 13rem;
        padding: 1rem;
        margin: auto;
        }
    
        #heading {
        font-size: 2rem;
        }
    
        #info, #info2 {
        font-size: 1rem;
        }

        #videoCat {
            display: block; 
            margin: 0 auto;
        }

        #videoDog {
            display: block; 
            margin: 0 auto;
        }

        .enquiryForm {
            border: .5rem black solid;
            text-align: center;
            width: 70rem;
            color: black;
            min-height: 14rem;
            overflow: hidden;
        }

        iframe {
            max-width: 100%;
            }

    }

        .card-img-top {
            height: 250px; /* Adjust the height as needed */
            object-fit: cover; /* Ensure the image covers the entire container */
        }

        